div.allMainPage{
	width:100%;
	padding:0px;
	margin:0px;
}
img.bg{
	width:100%;
	position:absolute;
	left:0px;
	overflow: hidden;
	z-index: -100;
	padding:0px;
	margin:0px;
}

div.MainPage h1{
	font-size:30pt;
	color:#0073ea;
	font-style: italic;
	font-family: cursive;
	padding: 0px;
	margin: 0px;
}

div.tableData{
	/*background-color: #aaaaff;*/
	opacity:0.8;
	filter:alpha(opacity=80);
	width:400px;
	height:160px;
	border-width: 5px;
	border-color:gray;
	border-style: outset;	
	float:left;
	bottom:0;
	position:absolute;
}